html,
body,
#app,
.app,
.fill {
  height: 100%;
}

.navbar {
  margin-bottom: 0;
}

.intro-section {
  background: url('images/background-image.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin-top: -72px;
}

.top-header {
  color: white;
  font-size: 7em;
  padding-top: 240px;
}

.section-header {
  padding: 1em;
  font-size: 4rem;
}

.projects-section {
  background-color: darkslategray;
  color: white;
}

.project-image {
  max-width: 100%;
}

.project-link:hover {
  background-color: lightgray;
}

.input-field {
  width: 40%;
  min-width: 300px;
  border-radius: 5px;
  font-size: 1.5rem;
  margin: 6px;
}

.input-height {
  height: 4rem;
}

.btn-block {
  max-width: 300px;
  margin: auto;
}