@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,
body,
#app,
.app,
.fill {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.intro-section {
  background: url('images/background-image.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin-top: -72px;
}

.top-header {
  color: white;
  font-size: 6rem;
  padding-top: 240px;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  margin: 1rem 30rem 3rem;
  padding: 0;
}

.hr-light {
  border-top: 1px solid #ccc;
}

.hr-dark {
  border-top: 1px solid #aaa;
}

.section-margin {
  padding-bottom: 120px;
}

.section-header {
  padding-top: 1em;
  font-size: 3rem;
}

.projects-section {
  background-color: rgb(50, 50, 50);
  color: white;
}

.project-image {
  max-width: 100%;
}

.project-link:hover {
  background-color: lightgray;
}

.input-field {
  width: 40%;
  min-width: 300px;
  border-radius: 5px;
  margin: 6px;
  border-style: inset;
  border-width: 1px;
}

.input-height {
  height: 2.5rem;
}

.btn-block {
  max-width: 100px;
  margin: auto;
}